<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.MemberMapper">
		
		<select id="getMemberData" resultType="MemberDTO" parameterType="String">
			
			 select userid, passwd, username, phone1,phone2,phone3
					,post1,post2, addr1, addr2, email
					from member
					where userid=#{userid}
					
		</select>
		
		
	</mapper>





